body {
  margin: 1%;
  padding: 1%;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #ccc;
  background-color: #333;
  }
a {
  text-decoration: none;
  font-weight: none;
  color:  #ccc;
  outline: none;
  font-size: 3vmin;

  }
a:visited {
  color:  #ccc;
  }
a:active {
  color:  #ccc;
  }
a:hover {
  color: black;
  }

h1 {
  font-size: 5vmin;
  text-align: center;
  }
h2 {
  margin: 1vmin 0 0 0;
}
.footer {
  text-align: center;
  font-weight: none;
}
#navPBT {
list-style:none;
margin:0 0 0px 0;
padding:0;

}
#navPBT li {
margin:0;
padding:0;
float:left;
}
#navPBT li a {
display:inline;
overflow:hidden;
width:auto;
margin:0;
padding:8px 12px;
text-decoration:none;
text-transform:capitalize;
text-align:center;
font-weight:normal;;
font-style:normal;
font-size:3vmin;
color: #ccc;
-moz-transition:all 0.5s ease-in;
-webkit-transition:all 0.5s ease-in;
-o-transition:all 0.5s ease-in;
transition:all 0.5s ease-in;
}
#navPBT li a:hover,#navPBT li a:active,#navPBT li a:focus {
color:#0960ed;
text-decoration: underline;
-moz-text-decoration-color: #0960ed;
text-decoration-color: #0960ed;
text-shadow:0px 1px 0px #8E620C;
/*background:#313130;*/
-moz-transition:none;-webkit-transition:none;-o-transition:none;transition:none;
}
