body {
  margin: 1%;
  padding: 1%;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #ccc;
  background-color: #333;
  }
a {
  text-decoration: none;
  font-weight: none;
  color:  #ccc;
  outline: none;
  font-size: 3vmin;

  }
a:visited {
  color:  #ccc;
  }
a:active {
  color:  #ccc;
  }
a:hover {
  color: black;
  }

h1 {
  font-size: 5vmin;
  text-align: center;
  }
h2 {
  margin: 1vmin 0 0 0;
}
.footer {
  text-align: center;
  font-weight: none;
}
